logs/*
logs/
**/*out*
.venv/
.venv
.venv-vllm/
.venv-vllm
arena-hard-auto/logs/*

.ipynb_checkpoints/
__pycache__/
.mypy_cache/
.ruff_cache/

.DS_Store

arena-hard-auto/data/
.env

wandb/

# Local cache
.cache/

gpu-queue/
